* {margin: 0; padding: 0;}
body {margin: 30px; font: 13px/1.5 "Trebuchet MS", Tahoma, Arial;}
a {color: blue;}
p {padding: 7px 0;}
h1 {font-size: 20px; margin: 0 0 30px;}
#wrapper {
	width: 1000px;
}

/* tabs */
ul.tabs {
	height: 25px;
	line-height: 25px;
	margin: 0 0 3px;
	list-style: none;
}

* html ul.tabs {
	margin-bottom: 0;
}

ul.tabs li {
	width:249px;
	float: left;
	margin-right: 1px;
}

ul.tabs li a {
	display: block;
	padding: 0 13px 1px;
	margin-bottom: -1px;
	color: #444;
	text-decoration: none;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #EFEFEF;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}

* html ul.tabs li a {float: left}
*+html ul.tabs li a {float: left}

ul.tabs li a:hover {
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
ul.tabs li.tab-current a {
	color: #444;
	background: #EFEFEF;
	padding: 0px 13px 2px;
	border: 1px solid #DDD;
	border-bottom: 1px solid #EFEFEF;
}
div.t2,
div.t3,
div.t4 {
	display: none;
}
div.t1,
div.t2,
div.t3,
div.t4 {
	border: 1px solid #DDD;
	background: #EFEFEF;
	padding: 0 12px;
}

#placeholder{
	margin: 20px auto;
}


ol.t1params{
	list-style-type: none;
}

ol.t1params li{
	margin:5px 10px;
}

ol.t1params li input{
	
}
span.params{
	display: none;
}

span.lehmer_description{
outline: 1px solid #000000;
display: block;
width: 246px;
position: absolute;
left: 540px;
top: 190px;
}

div.forTable{
margin: 10px 5px;
}

div.showtable{
	width: 112px;
	height: 18px;
	padding: 6px 6px;
	border: 1px solid rgba(137, 105, 105, 0.73);
	cursor: pointer;
	border-radius: 1px;
	margin: 13px 10px;
}

div.tables{
	display: none;
}

div.divforparamsRav{
	margin: 10px 8px;
}

#ravnom button.generate{
	margin: 0px 10px 6px;
}

.tablesdisplay{
	display: block;
}


.divforparamsExp, .divforparamsNorm, .divforparamsTreug{
	margin: 10px 8px;
}

.divforparamsExp ul, .divforparamsNorm ul, .divforparamsTreug ul{
	list-style: none;
	margin: 8px 8px;
}

.divforparamsExp ul li, .divforparamsNorm ul li, .divforparamsTreug ul li{
	margin: 8px 4px;
}

.divforparamsExp ul li input{
	
}

.divforparamsExp button#exp_gen, .divforparamsNorm button, .divforparamsTreug button{
	margin: 0px 10px 6px;
}
